@font-face {
  font-family: pki;
  src: url(/fonts/tama_mini02.TTF);
}

@font-face {
  font-family: pki-simple;
  src: url(/fonts/blank-Regular.otf);
}

@font-face {
  font-family: pki-simple-bold;
  src: url(/fonts/blank-Bold.otf);
}
.pki-body {
  margin-top: 50px;
  background-color: white;
}

.pki-background {
  background-image:url("/img/fotogrph-hard-drives-691859547.jpg");
  height: 100px;
  background-repeat:no-repeat;
}

.pki-header {
  color: #008CBA !important;
}

.pki-text {
  color: white;
  background-color: black;
  font-family: pki;
  padding-left: 10px;
}

.pki-text-logo {
  color: black;
  font-size: 1.4em;
  font-family: pki;
}


.pki-tagline {
  color: white;
  background-color: black;
  font-family: pki-simple-bold;
  padding-left: 10px;
}

.pki-title {
  font-family: pki;
}

.pki-subtitle {
  font-family: pki-simple-bold;
}

.row.extramargin {
  margin-top: 50px !important;
}

.pki-panel {
  min-height: 250px;
  border-width: 4px;
  border-color: black;
  background: white;
}

pre.pki {
  color: #008CBA !important;
  background-color: black;
}

.pki-large {
  font-size: 1.4em;
}
