@charset "utf-8";
/* CSS Document */

@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.0.3');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.0.3') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff?v=4.0.3') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.0.3') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

#menu-wrap {
	width:100%;
	height:auto;
	background:#FFF;
/*	border-bottom:#09F thin solid;
	border-bottom-width:3px;*/
	padding:0px 0px 0px 0px;
	margin:0px 0px 50px 0px;
	text-align:center;
	line-height:13px;
}

 #menu-wrap .menu-item {
    width: 38px;
    height: 55px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    border-radius: 3px;
}

 #menu-wrap .menu-item i {
    width:100%;
	padding:7px 0px 5px 0px;
	border-radius:3px;
}

 #menu-wrap .menu-item i.fa-facebook {
	background:#3B5998;
	color:#FFF;
}
 #menu-wrap .menu-item i.fa-twitter {
	background:#44CCF6;
	color:#FFF;
}
 #menu-wrap .menu-item i.fa-youtube {
	background:#CE332D;
	color:#FFF;
}
 #menu-wrap .menu-item i.fa-linkedin {
	background:#0275B6;
	color:#FFF;
}
 #menu-wrap .menu-item i.fa-google-plus {
	background:#D13F2D;
	color:#FFF;
}
 #menu-wrap .menu-item i.fa-dribbble {
	background:#EA4C89;
	color:#FFF;
}
 #menu-wrap .menu-item i.fa-pinterest-square {
	background:#CB2027;
	color:#FFF;
}
 #menu-wrap .menu-item i.fa-stack-overflow {
	background:#FEA501;
	color:#FFF;
}
 #menu-wrap .menu-item i.fa-tumblr {
	background:#274152;
	color:#FFF;
}
 #menu-wrap .menu-item i.fa-instagram {
	background:#517FA3;
	color:#FFF;
}
 #menu-wrap .menu-item i.fa-vimeo-square {
	background:#86C9EF;
	color:#FFF;
}
	
 #menu-wrap .menu-item span {
	width:32px;
	height:32px;
    position: absolute;
    top: 10px;
    left: 5px;
    text-align: center;
    -webkit-transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
    -ms-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
    display: block;
	color:#445878;
	background:#FFF;
/*	border:#09F thin solid;
	border-width:2px;*/
	border-radius:50%;
}

 #menu-wrap .menu-item span:hover {
    top: -29px;
	font-size:20px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

span.active {
	top:100px !important;
	font-size:0px !important;
}

 #menu-wrap .menu-item a {
	text-decoration:none;
}

 #menu-wrap .menu-item .text {
	text-decoration: none;
    font-size: 25px;
    padding:0px 0px 0px 0px;
    text-align: center;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal;
    width: 100%;
    position: absolute;
    bottom: -37px;
	left:0;
    display: block;
     background-color: #FFF;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

 #menu-wrap .menu-item:hover > .text {
	padding:0px 0px 17px 0px;
	bottom:-10px;
	font-size:25px;
    -webkit-transition: all 0.5s ease-in-out;
   -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
	text-align:center;
}

 #menu-wrap .menu-item .icon {
    width: 0px;
    height: 32px;
	padding:13px 9px 5px 4px;
	font-size:25px;
	text-align:center;
}
